doctype html
html(lang="sp")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href="https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="style.css")
        script(src="https://kit.fontawesome.com/e3f20884b6.js" crossorigin="anonymous")
        script(src="main.js")
    body 
        div(class="modal")
            img(src="../imagen.png" alt="")
            div(class="content")
                h1 Awesome Modal 
                p lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                a(href="#") Read More
            div(class="hide fas fa-times")
        a(class="btn" href="#") Show Modal  